%center
  %a#game-rules{href: "#", "data-target" => "#rulesModal", "data-toggle" => "modal"}
    = "Read game rules"

#rulesModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Letters game rules
      .modal-body
        %h5 Turn
        %p In your turn, you can add a letter on the right or on the left side of existing set of letters or check your opponent (see Checking Opponent below). While adding new letter you have to remember about the following:
        %li
          Constructed set of letters must be a part of some existing word (in Oxford dictionary). There must be a possibility to create a word from letters containing your new letter.
          Lets say there is already a
          %b TTL
          in front of you. You can (for example) add a
          %b O
          on the left, because it will form a
          %b OTTL
          which may be a part of BOTTLE. You can also add a
          %b E
          on the left because it will create a
          %b ETTL
          which may be a part of KETTLE.
          There are usually may possibilities but remember that you have to create a string that can be a part of some word.
        %br
        %h5 Winning/Loosing
        %p Player looses when he finishes the word or when he is being checked by opponent and cannot give correct answer.
        %li
          Finishing the word is when you add your letter and a set of letters are a word.
          For example: there is a
          %b FLO
          in front of you. You wanted to add a
          %b W
          on the right, because FLOW is a port of FLOWER. But a
          %b FLOW
          is also a word itself. You loose!
        %br
        %h5 Checking your opponent
        %p
          Lets say there was a
          %b BICYCL
          on the board and your opponent has added an
          %b O.
          You now have a
          %b BICYCLO
          in front of you. The best what you can do is to check your opponent, because BICYCLO is not a part of any existing word thats why your opponent will loose. Of course if your opponent would provide a word that a BICYCLO is a part of - you would be the one who looses.
        %br
        %h5 Letters low limit
        3-letters words dont count. It means that if you create a TEA you will not loose.

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
