.beta-info
  %center
    beta
#friend-link
  %center
    send link to your friend to start a game:
    #room{name: params[:id]}
    .room-info
      .row
        .col-md-4
        .col-md-4
          = text_field_tag "link", room_url(params[:id]), class: "form-control room-address", onFocus:"this.select()"
%main.main
  %div
    %svg.svg-text{:height => "200", :width => "1500", :xmlns => "http://www.w3.org/2000/svg"}
      %defs
        %symbol#stroke-2
          %text#word.bold.game_word{:fill => "none", "paint-order" => "stroke fill", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => ".1em", "text-anchor" => "middle", :x => "50%", :y => "67%"}
        %symbol#fill-2
          %text.bold.game_word{"text-anchor" => "middle", :x => "50%", :y => "60%"}
      %g.svg-text__shaded__stroke{:stroke => "#206891"}
        %use{:filter => "url(#drop-stroke-shadow)", :opacity => "0.5", "xlink:href" => "#stroke-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "5%"}
        %use{"xlink:href" => "#stroke-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "3%"}
        %use{"xlink:href" => "#stroke-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "2%"}
        %use{"xlink:href" => "#stroke-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "1%"}
        %use{:stroke => "#39b1f7", "xlink:href" => "#stroke-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %g{:fill => "#84a4b5"}
        %use.svg-text__shaded{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "7%"}
        %use{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6.5%"}
        %use{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "6%"}
        %use{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "5.5%"}
        %use{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "5%"}
        %use{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4.5%"}
        %use{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "4%"}
        %use{"xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "3.5%"}
        %use{:fill => "white", "xlink:href" => "#fill-2", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "3%"}
#opponent-move
  %center
    Waiting for opponent move ...
#controles{style: "display:none"}
  .row
    .col-md-4
    .col-md-4
      .col-md-2
      .col-md-3
        %a#button{onclick: "submitLetterForm('left')"}
          %span Add to left
        / = button_tag "Add to the left", class: "btn btn-block btn-primary" , onclick: "submitLetterForm('left')"
      .col-md-2
        = text_field_tag "letter", nil, maxlength: 1,class: "form-control", id: "letter_input", placeholder: "letter"
      .col-md-3
        %a#button{onclick: "submitLetterForm('right')"}
          %span Add to right
        / = button_tag "Add to the right", class: "btn btn-primary btn-block", onclick: "submitLetterForm('right')"
  .row#check-btn
    .col-md-4
    .col-md-4
      .col-md-2
      .col-md-8
        = button_tag "Check oponnent", onclick: "checkOpponent()", class: "btn btn-block btn-warning"
.row{style: "margin-top: 20px"}
  .col-md-4
  .col-md-4
    .col-md-2
    .col-md-8
      = render partial: "shared/rules"
%center
  #messages
:javascript
  function submitLetterForm(side){
    letter = $("#letter_input").val();
    if (letter != ""){
      word = $(".game_word").first().text()
      App.addLetter(side, letter, word);
      $("#letter_input").val("");
      $("#letter_input").focus();
      App.hideControles()
      PageTitleNotification.Off();
      App.favicon.badge('');
    }
  }

  function checkOpponent(){
   word = $(".game_word").first().text()
   App.checkOpponent(word);
   App.hideControles()
  }
