!!!
%html
  %head
    %title Letters game
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    %link{:href => "https://fonts.googleapis.com/css?family=Alfa+Slab+One", :rel => "stylesheet"}/
  %body{class: "#{controller_name} #{action_name }"}
    %center
      #logo_title
        %span.text
          letters
        %span.apostrophe
          = "'"
    = yield
